# API Key de Google Gemini (Gratuita en aistudio.google.com)
GEMINI_API_KEY=tu_clave_api_gemini_aqui

# Configuración de Observabilidad y Tracing con LangSmith
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=lsv2_pt_... # Tu API Key de LangSmith (smith.langchain.com)
LANGCHAIN_PROJECT="banking-multiagent-langgraph"
